<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-api-client-heading">Create or edit a Api Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientId">Client Id</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                           formControlName="clientId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cookieEnable">Cookie Enable</label>
                    <input type="checkbox" class="form-control" name="cookieEnable" id="field_cookieEnable"
                           formControlName="cookieEnable"/>
                    <div *ngIf="editForm.get('cookieEnable').invalid && (editForm.get('cookieEnable').dirty || editForm.get('cookieEnable').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cookieEnable').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cookieTTL">Cookie TTL</label>
                    <input type="number" class="form-control" name="cookieTTL" id="field_cookieTTL"
                           formControlName="cookieTTL"/>
                    <div *ngIf="editForm.get('cookieTTL').invalid && (editForm.get('cookieTTL').dirty || editForm.get('cookieTTL').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cookieTTL').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cookieTTL')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientCallback">Client Callback</label>
                    <input type="text" class="form-control" name="clientCallback" id="field_clientCallback"
                           formControlName="clientCallback"/>
                    <div *ngIf="editForm.get('clientCallback').invalid && (editForm.get('clientCallback').dirty || editForm.get('clientCallback').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientCallback').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
