<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apiCredential">
            <h2><span>Api Credential</span> {{apiCredential.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{apiCredential.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{apiCredential.description}}</span>
                </dd>
                <dt><span>Idp Name</span></dt>
                <dd>
                    <span>{{apiCredential.idpName}}</span>
                </dd>
                <dt><span>Idp Dscription</span></dt>
                <dd>
                    <span>{{apiCredential.idpDscription}}</span>
                </dd>
                <dt><span>Entity Id</span></dt>
                <dd>
                    <span>{{apiCredential.entityId}}</span>
                </dd>
                <dt><span>Client Id</span></dt>
                <dd>
                    <span>{{apiCredential.clientId}}</span>
                </dd>
                <dt><span>Client Secret</span></dt>
                <dd>
                    <span>{{apiCredential.clientSecret}}</span>
                </dd>
                <dt><span>Issuer</span></dt>
                <dd>
                    <span>{{apiCredential.issuer}}</span>
                </dd>
                <dt><span>Scope</span></dt>
                <dd>
                    <span>{{apiCredential.scope}}</span>
                </dd>
                <dt><span>Callback Url</span></dt>
                <dd>
                    <span>{{apiCredential.callbackUrl}}</span>
                </dd>
                <dt><span>Cert Cache TTL</span></dt>
                <dd>
                    <span>{{apiCredential.certCacheTTL}}</span>
                </dd>
                <dt><span>Token TTTL</span></dt>
                <dd>
                    <span>{{apiCredential.tokenTTTL}}</span>
                </dd>
                <dt><span>Idp Url</span></dt>
                <dd>
                    <span>{{apiCredential.idpUrl}}</span>
                </dd>
                <dt><span>Idp Validate Url</span></dt>
                <dd>
                    <span>{{apiCredential.idpValidateUrl}}</span>
                </dd>
                <dt><span>Idp User Info Url</span></dt>
                <dd>
                    <span>{{apiCredential.idpUserInfoUrl}}</span>
                </dd>
                <dt><span>Idp Logout Url</span></dt>
                <dd>
                    <span>{{apiCredential.idpLogoutUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/api-credential', apiCredential.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
