<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-api-credential-heading">Create or edit a Api Credential</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpName">Idp Name</label>
                    <input type="text" class="form-control" name="idpName" id="field_idpName"
                           formControlName="idpName"/>
                    <div *ngIf="editForm.get('idpName').invalid && (editForm.get('idpName').dirty || editForm.get('idpName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpDscription">Idp Dscription</label>
                    <input type="text" class="form-control" name="idpDscription" id="field_idpDscription"
                           formControlName="idpDscription"/>
                    <div *ngIf="editForm.get('idpDscription').invalid && (editForm.get('idpDscription').dirty || editForm.get('idpDscription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpDscription').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entityId">Entity Id</label>
                    <input type="text" class="form-control" name="entityId" id="field_entityId"
                           formControlName="entityId"/>
                    <div *ngIf="editForm.get('entityId').invalid && (editForm.get('entityId').dirty || editForm.get('entityId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entityId').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientId">Client Id</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                           formControlName="clientId"/>
                    <div *ngIf="editForm.get('clientId').invalid && (editForm.get('clientId').dirty || editForm.get('clientId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientId').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientSecret">Client Secret</label>
                    <input type="text" class="form-control" name="clientSecret" id="field_clientSecret"
                           formControlName="clientSecret"/>
                    <div *ngIf="editForm.get('clientSecret').invalid && (editForm.get('clientSecret').dirty || editForm.get('clientSecret').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientSecret').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issuer">Issuer</label>
                    <input type="text" class="form-control" name="issuer" id="field_issuer"
                           formControlName="issuer"/>
                    <div *ngIf="editForm.get('issuer').invalid && (editForm.get('issuer').dirty || editForm.get('issuer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issuer').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_scope">Scope</label>
                    <input type="text" class="form-control" name="scope" id="field_scope"
                           formControlName="scope"/>
                    <div *ngIf="editForm.get('scope').invalid && (editForm.get('scope').dirty || editForm.get('scope').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scope').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_callbackUrl">Callback Url</label>
                    <input type="text" class="form-control" name="callbackUrl" id="field_callbackUrl"
                           formControlName="callbackUrl"/>
                    <div *ngIf="editForm.get('callbackUrl').invalid && (editForm.get('callbackUrl').dirty || editForm.get('callbackUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('callbackUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_certCacheTTL">Cert Cache TTL</label>
                    <input type="number" class="form-control" name="certCacheTTL" id="field_certCacheTTL"
                           formControlName="certCacheTTL"/>
                    <div *ngIf="editForm.get('certCacheTTL').invalid && (editForm.get('certCacheTTL').dirty || editForm.get('certCacheTTL').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('certCacheTTL').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('certCacheTTL')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tokenTTTL">Token TTTL</label>
                    <input type="number" class="form-control" name="tokenTTTL" id="field_tokenTTTL"
                           formControlName="tokenTTTL"/>
                    <div *ngIf="editForm.get('tokenTTTL').invalid && (editForm.get('tokenTTTL').dirty || editForm.get('tokenTTTL').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tokenTTTL').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tokenTTTL')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpUrl">Idp Url</label>
                    <input type="text" class="form-control" name="idpUrl" id="field_idpUrl"
                           formControlName="idpUrl"/>
                    <div *ngIf="editForm.get('idpUrl').invalid && (editForm.get('idpUrl').dirty || editForm.get('idpUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpValidateUrl">Idp Validate Url</label>
                    <input type="text" class="form-control" name="idpValidateUrl" id="field_idpValidateUrl"
                           formControlName="idpValidateUrl"/>
                    <div *ngIf="editForm.get('idpValidateUrl').invalid && (editForm.get('idpValidateUrl').dirty || editForm.get('idpValidateUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpValidateUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpUserInfoUrl">Idp User Info Url</label>
                    <input type="text" class="form-control" name="idpUserInfoUrl" id="field_idpUserInfoUrl"
                           formControlName="idpUserInfoUrl"/>
                    <div *ngIf="editForm.get('idpUserInfoUrl').invalid && (editForm.get('idpUserInfoUrl').dirty || editForm.get('idpUserInfoUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpUserInfoUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idpLogoutUrl">Idp Logout Url</label>
                    <input type="text" class="form-control" name="idpLogoutUrl" id="field_idpLogoutUrl"
                           formControlName="idpLogoutUrl"/>
                    <div *ngIf="editForm.get('idpLogoutUrl').invalid && (editForm.get('idpLogoutUrl').dirty || editForm.get('idpLogoutUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idpLogoutUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
